[Unit]
Description=Near Validator Service
Documentation=https://github.com/near-guildnet/nearcore
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=neard-guildnet
Group=near
ExecStart=/usr/local/bin/neard --home /usr/lib/near/guildnet/ run
Restart=on-failure
RestartSec=120
# StandardOutput=append:/var/log/guildnet.log

[Install]
WantedBy=multi-user.target
